<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload Password</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <% if (locals.error) { %>
    <div style="color: red; margin-bottom: 1rem">Incorrect password</div>
    <% } %>
    <form
      style="
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr;
        align-items: center;
        max-width: 500px;
        margin: 3rem auto;
      "
      method="post"
    >
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit" style="grid-column: span 2">Download</button>
    </form>
  </body>
</html>
